/* .image-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
  grid-gap: 10px;
  min-height: 50vh;
  -webkit-transition: height 2s;
  transition: height 2s;
}

@media screen and (max-width: 992px) {
  .image-board {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .image-board {
    grid-template-columns: repeat(1, 1fr);
  }
} */

/* .image-board {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: space-around;
} */
